<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vuejs 表单处理 | v-model指令 </title>
    <style>
    body {
        background-color: #fcfcfc;
        padding: 40px 100px;
    }
    
    .vue-example h2 {
        padding: 0;
        margin: 8px 0;
    }
    
    .vue-example {
        margin: 16px 0;
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid hsl(130, 25%, 50%);
        box-shadow: 2px 5px hsl(130, 25%, 50%) inset;
    }
    
    .vue-example-result {}
    </style>
</head>

<body>
    <h1>vuejs 表单处理 | v-model指令</h2>
    <div id="demo">
        <form action="#">
            <div class="vue-example">
                <h2>输入框处理</h2>
                <input type="text" v-model="msg" lazy name="" id="">
                <div class="vue-example-result">
                    {{msg}}
                </div>
            </div>
            <div class="vue-example">
                <h2>复选框处理</h2>
                <input type="checkbox" v-model="checked" lazy>
                <div class="vue-example-result">
                    {{checked?"yes":"no"}}
                </div>
            </div>
            <div class="vue-example">
                <h2>单选按钮处理</h2>
                <input type="radio" name="picked" value="one" v-model="picked" lazy>
                <input type="radio" name="picked" value="two" v-model="picked" lazy>
                <div class="vue-example-result">
                    {{picked}}
                </div>
            </div>
            <div class="vue-example">
                <h2>下拉框处理</h2>
                <select v-model="selected" lazy name="" id="">
                    <option value="one">one</option>
                    <option value="two">two</option>
                </select>
                <div class="vue-example-result">
                    {{selected}} 注意，单选的下拉框 option的value属性必须填写，不然不能通过vm获取到对于的data值
                </div>
            </div>

            <div class="vue-example">
                <h2>多选下拉框处理</h2>
                <select v-model="multiSelected" lazy multiple name="" id="">
                    <option value="">one</option>
                    <option value="">two</option>
                    <option value="">three</option>
                </select>
                <div class="vue-example-result">
                    {{multiSelected}}
                </div>
            </div>

              <div class="vue-example">
                <h2>当作一个数来处理</h2>
                <input v-model="age" number>
                <div class="vue-example-result">
                    {{age}}
                </div>
            </div>
        </form>
        <p>
            <pre>data:{{$data | json 2}}</pre>
        </p>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: "#demo",
        data: {
            msg: "hi",
            checked: true,
            picked: "one",
            selected: "one",
            multiSelected: ["one", "three"],
            age:25
        }
    });
    </script>
</body>

</html>
